<% @item.each do |item| %>
  <div class = 'box2'>
    <br>
  <%= link_to "", [item.user, item], method: :delete, remote: true, class: 'glyphicon glyphicon-ok', data: {confirm: 'Are you sure?'} %>
  <%= item.name %>
  </div>
  <div id = "time_left" class = 'box2'>
  <% if item.days_left > 2 %>
      <small class="text-uppercase time-left glyphicon glyphicon-time"> <%= pluralize(item.days_left, "day") %></small>
    <% else %>
      <small class="text-uppercase time-left-short glyphicon glyphicon-time">  <%= pluralize(item.days_left, "day") %></small>
    <% end %>
  </div>
<% end %>
