 @import "bootstrap-sprockets";
 @import "bootstrap";

 .user-info {
   margin-top: 9px;
 }

 .nav {
   margin-top: 5px;
 }

.checkbox {
  margin-left: 20px;
}

.tasks {
  display:inline;
}

.time {
  display:inline;
  float:right;
}
